<!doctype html>
<html class="supports_line_clamp supports_flexbox no_touch" lang="en">
  <head>
    <meta charset="utf-8">

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="nofish" name="superfish">
    <meta charset="utf-8">
    <meta content="wopian" name="author">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>

    <link href="/favicon-32.png" rel="shortcut icon" sizes="16x16 32x32 48x48" type="image/png">

    <link href="/stylesheets/rollup-client_core.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/rollup-client_primary.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/rollup-client_general.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/rollup-client_secondary.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/libs/lato-2-compressed.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      :root #header + #content > #left > #rlblock_left { display: none !important; }
    </style>
    <style id="dynamic_content_max_width_rule" type="text/css">
      #msgs_div div.dynamic_content_max_width { max-width: 1287px; }
    </style>

    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="light_theme <%= page_classes %>">
    <%= google_analytics_universal_tag %>

    <div ng-app="theme" ng-controller='ThemeController'>
      <style id="sidebar_theme_css" type="text/css">
        /* Column Background */
        #col_channels_bg,
        #col_channels { background: {{ column_bg }}; }

        #monkey_scroll_wrapper_for_channels_scroller .monkey_scroll_handle_inner { border-color: {{ column_bg }}; }

         /* Menu Background */
         #team_menu {
           background: {{ menu_bg }};
           color: {{ text_color }};
           text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
         }

        #team_menu,
        #quick_switcher_btn,
        #team_menu_overlay,
        #col_channels_overlay {
          background: {{ column_bg }};
          border-color: {{ column_bg }};
        }

        #team_menu:hover,
        #team_menu.active,
        #quick_switcher_btn:hover,
        #quick_switcher_btn:active {
          background: {{ menu_bg }};
          border-color: {{ menu_bg }};
        }

        /* Active Item */
        #col_channels ul li.channel.active a.channel_name,
        #col_channels ul li.group.active a.group_name,
        #col_channels ul li.member.active a.im_name,
        #col_channels ul li.mpim.active a.mpim_name {
          background: {{ active_item }};
          opacity: 1;
          color: {{ active_item_text }} !important;
        }

        #col_channels.channels_list_holder ul li.channel.active .unread_highlight,
        #col_channels.channels_list_holder ul li.member.active .unread_highlight,
        #col_channels.channels_list_holder ul li.group.active .unread_highlight,
        #col_channels.channels_list_holder ul li.mpim.active .unread_highlight { color: {{ active_item }}; }

        /* Hovered Item */
        .channels_list_holder ul li a:hover,
        #monkey_scroll_wrapper_for_channels_scroller .monkey_scroll_bar { background: {{ hover_item }}; }

        /* Text Color */
        .channels_list_holder ul li a,
        .channels_list_holder h2,
        .list_more,
        #team_menu:before,
        #user_menu .notifications_menu_btn,
        #team_menu .team_name_caret,
        .channels_list_holder ul li.channel.active a.channel_name .prefix,
        .channels_list_holder ul li.group.active a.group_name .prefix,
        #current_user_name,
        .channels_list_holder ul li.unread .prefix,
        .channels_list_holder ul li.member .im_close,
        .channels_list_holder ul li.mpim .mpim_close,
        .channels_list_holder ul li.group .group_close,
        #quick_switcher_btn > i {
          color: {{ text_color }} !important;
          opacity: 0.6;
        }

        .channels_list_new_btn {
          color: {{ text_color }} !important;
          opacity: 0.3;
        }

        #quick_switcher_label,
        #quick_switcher_shortcut,
        #quick_switcher_btn:hover #quick_switcher_shortcut { color: {{ text_color }} !important; }

        #channel_list_invites_link,
        #channel_list_invites_link_label { color: {{ text_color }} !important; }

        #channel_list_invites_link,
        #channel_list_invites_link:hover { border-color:{{ text_color }}; }

        .overlay_mock_text { background: {{ text_color }} !important; }

        #team_menu:hover:before,
        #team_menu.active:before,
        .channels_list_holder h2.hoverable:hover,
        #team_menu:hover .team_name_caret,
        #team_menu.active .team_name_caret { opacity: 1; }

        .channels_list_holder ul li.channel.active a.channel_name .prefix,
        .channels_list_holder ul li.group.active a.group_name .prefix { color: {{ active_item_text }} !important; }

        .list_more:hover {
          color: {{ text_color }} !important;
          border-bottom-color: {{ text_color }};
        }

        .channels_list_holder ul li.unread a,
        .channels_list_holder ul li.member .im_close,
        .channels_list_holder ul li.mpim .mpim_close,
        .channels_list_holder ul li.group .group_close { opacity: 1; }

        #monkey_scroll_wrapper_for_channels_scroller .monkey_scroll_handle_inner {
          background: {{ text_color }};
          opacity: 0.7;
        }

        /* Presence */
        #im-list .presence.active i.presence_icon,
        #starred-list .presence.active i.presence_icon,
        #channel_header #presence.active:before,
        .slackbot_icon {
          color: {{ active_presence }};
          opacity: 1;
        }

        #im-list li.member.active .presence.active i.presence_icon,
        #starred-list li.member.active .presence.active i.presence_icon,
        #im-list li.member.active .slackbot_icon,
        #starred-list li.member.active .slackbot_icon { color: {{ active_item_text }} !important; }

        /* Override for Hoth Theme presence dot on selected item. Fix Bug #7154 */
        .sidebar_theme_hoth_theme #im-list li.member.active .presence.active i.presence_icon,
        .sidebar_theme_hoth_theme #starred-list li.member.active .presence.active i.presence_icon,
        .sidebar_theme_hoth_theme #im-list li.member.active .slackbot_icon,
        .sidebar_theme_hoth_theme #starred-list li.member.active .slackbot_icon { color: {{ active_presence }} !important; }

        #im-list li.member.active .presence.away i.presence_icon,
        #starred-list li.member.active .presence.away i.presence_icon {
          color: {{ active_item_text }} !important;
          opacity: 0.3;
        }

        #im-list .presence.away,
        #starred-list .presence.away,
        #channel_header #presence.away:before {
          color: {{ text_color }};
          opacity: 0.3;
        }

        /* Badge + Mentions bar */
        .channels_list_holder .unread_highlight,
        #channel_scroll_up.unseen_have_mentions,
        #channel_scroll_down.unseen_have_mentions,
        #omnibox .omnibox_item .unread_highlight_cnt,
        ts-jumper ol li .unread_count { background: {{ mention_badge }}; }

        /* No text shadows */
        #col_channels a,
        #team_menu { text-shadow: none !important; }
      </style>
      <a href="https://github.com/wopian/material-slackthemes"><img
        alt="Fork me on GitHub"
        data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
        src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67"
        style="position: absolute; z-index: 6000; top: 0; right: 0; border: 0;"></a>

      <div class="container-fluid sidebar_theme_custom_theme" id="client-ui">
        <div id="header">
          <div id="channel_header">
            <div data-qa="team_menu_selector" id="team_menu">
              <i class="notifications_menu_btn ts_icon ts_tip ts_tip_bottom ts_icon_snooze_outline">
                <span class="notifications_menu_tip ts_tip_tip">
                  Notifications
                </span>
              </i>
              <div class="team_name_container top_margin">
                <i class="ts_icon ts_icon_chevron_down team_name_caret"></i>
                <span class="overflow_ellipsis" id="team_name">
                  Slack Themes
                </span>
              </div>
              <div class="no_wrap" id="presence_container">
                <i aria-label="online" class="ts_icon ts_icon_presence active dnd" id="presence" style="opacity: 1;" title="online"></i>
                <span class="overflow_ellipsis" id="current_user_name">
                  wopian
                </span>
              </div>
            </div>
          </div>
        </div>

        <div id="client_body">
          <div id="col_messages">
            <div class="row-fluid">
              <div id="col_channels_bg" style="top: 0px; z-index: 0;"></div>
              <div class="show_presence channels_list_holder no_just_unreads real_names" id="col_channels">
                <div class="monkey_scroll_wrapper " id="monkey_scroll_wrapper_for_channels_scroller">
                  <div class="monkey_scroll_hider  scrolling" style="width: 203px; margin-right: 17px;">
                    <div class="monkey_scroller" id="channels_scroller" style="height: 728px; visibility: visible; width: 220px;">
                      <div class="starred_section section_holder" id="starred_div">
                        <h2 class="overflow_ellipsis" id="starred_section_header">
                          <i class="ts_icon ts_icon_star" style="font-size: 14px;"></i>
                          Starred
                        </h2>
                        <ul id="starred-list">
                          <li class="channel_C0C8T2V9B channel ">
                            <div class="hotness_icon hidden" id="hotness_C0C8T2V9B">
                              <span class="emoji-outer emoji-sizer">
                                <span class="emoji-inner" style="background: url(https://slack.global.ssl.fastly.net/d4bf/img/emoji_2015_2/sheet_google_64_indexed_128colors.png);background-position:57.5% 62.5%;background-size:4100%"></span>
                              </span>
                            </div>
                            <a class="channel_name" data-channel-id="C0C8T2V9B">
                              <span class="unread_just_C0C8T2V9B unread_just hidden">
                                0
                              </span>
                              <span class="unread_highlight_C0C8T2V9B unread_highlight hidden">
                                0
                              </span>
                              <span class="overflow_ellipsis">

                                <span class="prefix">
                                  #
                                </span>
                                announcements
                              </span>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="section_holder" id="channels">
                        <span class="ts_icon ts_icon_plus_circle channels_list_new_btn" data-original-title="Create new channel" data-toggle="tooltip" id="new_channel_btn" title=""></span>
                        <h2 class="hoverable" id="channels_header">
                          <span class="channel_list_header_label" data-original-title="Browse all channels" data-toggle="tooltip" title="">
                            Channels
                            <span class="header_count">
                              (
                              <span id="channel_header_count">
                                2
                              </span>
                              )
                            </span>
                          </span>

                        </h2>
                        <ul id="channel-list">
                          <li class="channel_C0CFD89S6 channel active">
                            <div class="hotness_icon hidden" id="hotness_C0CFD89S6">
                              <span class="emoji-outer emoji-sizer">
                                <span class="emoji-inner" style="background: url(https://slack.global.ssl.fastly.net/d4bf/img/emoji_2015_2/sheet_google_64_indexed_128colors.png);background-position:57.5% 62.5%;background-size:4100%"></span>
                              </span>
                            </div>
                            <a class="channel_name" data-channel-id="C0CFD89S6">
                              <span class="unread_highlight_C0CFD89S6 unread_highlight">
                                1
                              </span>
                              <span class="overflow_ellipsis">

                                <span class="prefix">
                                  #
                                </span>
                                general
                              </span>
                            </a>
                          </li>
                          <li class="channel_C0C9UDJ78 channel">
                            <div class="hotness_icon hidden" id="hotness_C0C9UDJ78">
                              <span class="emoji-outer emoji-sizer">
                                <span class="emoji-inner" style="background: url(https://slack.global.ssl.fastly.net/d4bf/img/emoji_2015_2/sheet_google_64_indexed_128colors.png);background-position:57.5% 62.5%;background-size:4100%"></span>
                              </span>
                            </div>
                            <a class="channel_name" data-channel-id="C0C9UDJ78">
                              <span class="overflow_ellipsis">

                                <span class="prefix">
                                  #
                                </span>
                                notifications
                              </span>
                            </a>
                          </li>
                          <li class="channel_C0C8QSNUU channel unread">
                            <div class="hotness_icon hidden" id="hotness_C0C8QSNUU">
                              <span class="emoji-outer emoji-sizer">
                                <span class="emoji-inner" style="background: url(https://slack.global.ssl.fastly.net/d4bf/img/emoji_2015_2/sheet_google_64_indexed_128colors.png);background-position:57.5% 62.5%;background-size:4100%"></span>
                              </span>
                            </div>
                            <a class="channel_name" data-channel-id="C0C8QSNUU">
                              <span class="unread_highlight_C0C8QSNUU unread_highlight">
                                4
                              </span>
                              <span class="overflow_ellipsis">

                                <span class="prefix">
                                  #
                                </span>
                                random
                              </span>
                            </a>
                          </li>
                        </ul>
                        <div class="clear_both"></div>
                      </div>
                      <div class="section_holder" id="direct_messages">
                        <span class="ts_icon ts_icon_plus_circle channels_list_new_btn" data-original-title="Open a Direct Message" data-toggle="tooltip" id="new_dm_btn" title=""></span>
                        <h2 class="hoverable" data-original-title="Open a Direct Message" data-toggle="tooltip" id="direct_messages_header" title="">
                          Direct Messages
                          <span class="header_count">
                            (
                            <span id="dm_header_count">
                              3
                            </span>
                            )
                          </span>
                        </h2>
                        <ul id="im-list">
                          <li class="member_USLACKBOT member  cursor_pointer">
                            <div class="hotness_icon hidden" id="hotness_D0CKJTSUS">
                              <span class="emoji-outer emoji-sizer">
                                <span class="emoji-inner" style="background: url(https://slack.global.ssl.fastly.net/d4bf/img/emoji_2015_2/sheet_google_64_indexed_128colors.png);background-position:57.5% 62.5%;background-size:4100%"></span>
                              </span>
                            </div>
                            <a class="im_name nuc color_USLACKBOT color_757575" data-member-id="USLACKBOT">
                              <i class="ts_icon ts_icon_times_circle im_close"></i>
                              <span class="overflow_ellipsis">
                                <i class="ts_icon ts_icon_heart slackbot_icon"></i>
                                slackbot
                              </span>
                            </a>
                          </li>
                          <li class="member_U0CLM34N4 member unread cursor_pointer">
                            <div class="hotness_icon hidden" id="hotness_D0FL8ABC1">
                              <span class="emoji-outer emoji-sizer">
                                <span class="emoji-inner" style="background: url(https://slack.global.ssl.fastly.net/d4bf/img/emoji_2015_2/sheet_google_64_indexed_128colors.png);background-position:57.5% 62.5%;background-size:4100%"></span>
                              </span>
                            </div>
                            <a class="im_name nuc color_U0CLM34N4 color_e23f99" data-member-id="U0CLM34N4">
                              <i class="ts_icon ts_icon_times_circle im_close"></i>
                              <span class="unread_highlight_U0CLM34N4 unread_highlight">
                                2
                              </span>
                              <span class="overflow_ellipsis">
                                <span class="presence active member_presence_U0CLM34N4" data-member-presence="U0CLM34N4" title="active">
                                  <i class="ts_icon ts_icon_presence presence_icon"></i>
                                </span>
                                xip
                              </span>
                            </a>
                          </li>
                          <li class="member_U0CKHJCAK member away  cursor_pointer">
                            <div class="hotness_icon hidden" id="hotness_D0CKM2KS5">
                              <span class="emoji-outer emoji-sizer">
                                <span class="emoji-inner" style="background: url(https://slack.global.ssl.fastly.net/d4bf/img/emoji_2015_2/sheet_google_64_indexed_128colors.png);background-position:57.5% 62.5%;background-size:4100%"></span>
                              </span>
                            </div>
                            <a class="im_name nuc color_U0CKHJCAK color_5a4592" data-member-id="U0CKHJCAK">
                              <i class="ts_icon ts_icon_times_circle im_close"></i>
                              <span class="overflow_ellipsis">
                                <span class="presence away member_presence_U0CKHJCAK" data-member-presence="U0CKHJCAK" title="away">
                                  <i class="ts_icon ts_icon_presence presence_icon"></i>
                                </span>
                                paracycle
                              </span>
                            </a>
                          </li>
                        </ul>
                        <div class="clear_both"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="quick_switcher_btn">
                  <i class="ts_icon ts_icon_filter"></i>
                  <span class="quick_switcher_label_windows_alignment" id="quick_switcher_label">
                    Quick Switcher
                  </span>
                  <span id="quick_switcher_shortcut">
                    Ctrl+K
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="show_sidebar active" id="fs_modal_bg"></div>
        <div class="fs_modal_header fs_modal_sidebar prefs_modal show_sidebar active" id="fs_modal">
          <div id="fs_modal_header">
            <h3>Select a Material theme</h3>
          </div>
          <div class="monkey_scroll_wrapper " id="">
            <div class="monkey_scroll_hider  scrolling" style="width: 1256px; margin-right: 17px;">
              <div class="contents_container monkey_scroller">
                <div class="contents" style="width: initial">
                  <div id="prefs_themes">
                    <h2 class="inline_block" id="prefs_sidebar_theme">Dark Themes</h2>
                    <p></p>
                    <div class="theme-row" style="display: flex;flex-wrap: wrap;">
                      <!-- Output themes -->
                      <%= yield %>
                    </div>
                    <hr class="clear_both large_top_margin large_bottom_margin">
                    <h3 class="inline_block bottom_margin">Coloured Themes</h3>
                    <br>
                  </div>
                  <div id="prefs_output" style="position: fixed;right: 0;bottom: 0;left: 0;z-index: 2001;background: white">
                    <hr class="clear_both large_top_margin large_bottom_margin" style="margin-top:0!important;margin-bottom:1rem!important">
                    <div id="prefs_themes_customize" style="padding: 0 2rem 0">
                      <label class="clear_both full_width" style="font-weight: 400">
                        Copy and paste these values to share your
                        <b>Slack</b>
                        settings
                        <a href="https://get.slack.help/hc/en-us/articles/205166337-Customizing-your-Slack-theme">Sidebar Theme</a>
                        section:
                        <br>
                        <input class="small monospace subtle_silver very_small_top_margin" id="sidebar_theme_custom" name="sidebar_theme_custom" type="text" ng-model="colors">
                      </label>
                    </div>
                    <div id="notification_bar" class="wide really_wide" style="padding: 0 2rem 0; position: relative; bottom: 1px;left: 0">
                      <div id="notification_text" class="overflow_ellipsis">
                        Not affiliated with <a href="https://slack.com/">Slack</a> in any way or form; but it is a great tool, use it.
                      </div>
                      <div id="special_formatting_text" class="special_formatting_tips showing" style="bottom:initial">
                        Made with &#9829; by <a href="https://github.com/wopian">wopian</a> and <a href="https://github.com/xiprox">xip</a>. Forked from <a href="https://github.com/paracycle/slackthemes">Slack Themes</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <style>
        .feature_modal h1 {
          font-size: 2rem;
        }
      </style>
    </body>

  </html>
